@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'Ferry';
  font-style: normal;
  font-weight: 900;
  src:
    local('Ferry'),
    url('../../../../../public/Ferry-Black.woff') format('woff');
}

.card {
  border-radius: 10px;
  padding: 30px 0 0 20px;
  box-shadow: 0px 0px 20px 0px #00000033;
  min-height: 225px;
  width: calc(100% - 40px);
}

.swiper-wrapper {
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  height: 225px;
  position: relative;
  margin: 70px 0;
}

.swiper-container {
  display: flex;
  align-items: center;
}

.swiper-button-prev {
  top: auto;
}

.swiper-button-next {
  top: auto;
}

.swiper {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
  display: block;
  width: calc(100% - 90px);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 479px) {
  .infoCards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    min-height: 188px;
    margin-left: 10px;
    margin-top: 80px;
    position: relative;
  }

  .card {
    border-radius: 10px;
    padding: 30px 0 0 20px;
    box-shadow: 0px 0px 20px 0px #00000033;
  }
  .swiper {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
    display: block;
    width: calc(100% - 90px);
  }
  .infoCards > .swiper {
    height: 100%;
    box-shadow: 0 0 0 0;
    width: calc(100% - 90px) !important;
  }
}

@media (min-width: 479px) and (max-width: 800px) {
  .infoCards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    min-height: 188px;
    margin-left: 10px;
    margin-top: 80px;
    position: relative;
  }

  .card {
    border-radius: 10px;
    padding: 30px 0 0 20px;
    box-shadow: 0px 0px 20px 0px #00000033;
  }
  .swiper {
    height: 100%;
    box-shadow: 0 0 0 0;
    width: calc(100% - 90px) !important;
  }
}
