@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'Ferry';
  font-style: normal;
  font-weight: 900;
  src:
    local('Ferry'),
    url('../../../../../public/Ferry-Black.woff') format('woff');
}

.tariffs {
  display: grid;
  grid-template-columns: 415px 415px 415px;
  gap: 40px;
  margin: 70px 0 118px 100px;
}

.tariff {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #00000033;
  position: relative;
}

.tariffTitle h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.tariffTitle {
  background-color: #ffb64f;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 30px 0 0 30px;
}

.tariffTitle-1 {
  background-color: #7ce3e1;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 30px 0 0 30px;
  height: 120px;
}

.tariffTitle-2 {
  background-color: #000000;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 30px 0 0 30px;
  height: 120px;
  color: white;
}

.tariffTitle-1 p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.tariffTitle-1 h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
}

.tariffTitle p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.img {
  position: relative;
  bottom: 50px;
}

.img-1 {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.img-2 {
  position: absolute;
  right: 10px;
  bottom: 40px;
}

.titleAndImg {
  display: flex;
}

.newPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.oldPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: grey;
  margin-left: 19px;
}

.tariffInfo {
  padding: 30px 0 0 30px;
}

.tariffInfo p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.tariffInfo h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.tariffInfo-2 h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 90px;
  margin-bottom: 10px;
}

.tariff button {
  min-width: 355px;
  min-height: 60px;
  margin: 55px 0 24px 0;
  border-radius: 5px;
  background-color: #5970ff;
  color: white;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .tariffs {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: 37px 0 43px 14px;
  }

  .tariff {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
    position: relative;
  }
  .tariff button {
    min-width: 286px;
    min-height: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  .imgContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .img {
    position: relative;
    bottom: 50px;
    right: 20px;
    width: 60px;
    height: 60px;
  }

  .img-1 {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 80px;
    height: 80px;
  }
  .img-2 {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 70px;
    height: 70px;
  }
  .tariffInfo {
    padding: 30px 40px 0 30px;
  }
  .tariffTitle-1 h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0px;
  }
  .tariffTitle h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (min-width: 479px) and (max-width: 800px) {
  .tariffs {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: 37px 0 43px 14px;
  }

  .tariff {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
    position: relative;
  }

  .tariff button {
    min-width: 286px;
    min-height: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18;
  }

  .imgContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .img {
    position: relative;
    bottom: 50px;
    right: 20px;
    width: 60px;
    height: 60px;
  }

  .img-1 {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 80px;
    height: 80px;
  }

  .img-2 {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 70px;
    height: 70px;
  }

  .tariffInfo {
    padding: 30px 40px 0 30px;
  }

  .tariffTitle-1 h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0px;
  }

  .tariffTitle h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
}
