@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'Ferry';
  font-style: normal;
  font-weight: 900;
  src:
    local('Ferry'),
    url('../../../public/Ferry-Black.woff') format('woff');
}

.loginError {
  color: red !important;
}

.errorLogin1 {
  border-color: red;
  min-width: 380px;
  height: 43px;
  border-radius: 5px;
  margin-bottom: 35px;
}
.errorLogin2 {
  border-color: red;
  min-width: 380px;
  height: 43px;
  border-radius: 5px;
  margin-bottom: 35px;
}

.loginForm {
  height: 523px;
  width: 429px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #00000026;
  border-radius: 10px;
  font-size: 16px;
  padding: 40px 30px 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
}
.entrance {
  color: grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.enter {
  border-bottom: 2px solid #c7c7c7;
  width: 151px;
  text-align: center;
  cursor: pointer;
}

.register {
  border-bottom: 2px solid #c7c7c7;
  width: 213px;
  text-align: center;
  cursor: pointer;
}

.formInfo {
  display: flex;
  flex-direction: column;
}

.formInfo span {
  color: grey;
  margin-bottom: 25px;
}

.loginInput {
  min-width: 380px;
  height: 43px;
  border-radius: 5px;
  margin-bottom: 35px;
  border-color: #c7c7c7;
}

.formButton {
  background-color: #5970ff;
  min-width: 379px;
  min-height: 59px;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.recover {
  color: #5970ff !important;
  margin-top: 40px;
  border-bottom: 1px solid #5970ff;
  width: 151px;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
}

.navButton {
  display: flex;
}

.navButton button {
  min-height: 31px;
  min-width: 96px;
  background-color: white;
  border-color: #5970ff82;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  font-family: 'Ferry', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.container {
  display: flex;
  margin: 80px 80px;
}

.lock {
  position: absolute;
  bottom: 95%;
  right: 93%;
}

.titleInfo {
  position: relative;
}

.key {
  position: absolute;
  right: 40%;
}
.key2 {
  display: none;
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    min-width: 320px;
    margin-left: 14px;
  }

  .title {
    font-family: 'Ferry', sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 126px;
  }

  .titleInfo {
    display: flex;
    flex-direction: column;
  }

  .loginForm {
    height: 504px;
    width: 335px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #00000026;
    border-radius: 10px;
    font-size: 14px;
    padding: 25px 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: relative;
  }

  .entrance {
    color: grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }

  .enter {
    border-bottom: 2px solid #c7c7c7;
    width: 103px;
    text-align: center;
    cursor: pointer;
  }

  .register {
    border-bottom: 2px solid #c7c7c7;
    width: 182px;
    text-align: center;
    cursor: pointer;
  }

  .formInfo {
    display: flex;
    flex-direction: column;
  }

  .formInfo span {
    color: grey;
    margin-bottom: 25px;
  }

  .loginInput {
    min-width: 305px;
    height: 43px;
    border-radius: 5px;
    margin-bottom: 35px;
    border-color: #c7c7c7;
  }

  .formButton {
    background-color: #5970ff;
    min-width: 305px;
    min-height: 59px;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .recover {
    color: #5970ff !important;
    margin-top: 40px;
    border-bottom: 1px solid #5970ff;
    width: 151px;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
  }

  .navButton {
    display: flex;
  }

  .navButton button {
    min-height: 31px;
    min-width: 96px;
    background-color: white;
    border-color: #5970ff82;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
  }

  .lock {
    position: absolute;
    bottom: 98%;
    right: 50%;
  }

  .key {
    display: none;
  }

  .key2 {
    display: block;
    margin-top: 50px;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 320px;
    margin-left: 14px;
  }

  .title {
    font-family: 'Ferry', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 126px;
  }

  .titleInfo {
    display: flex;
    flex-direction: column;
  }

  .loginForm {
    height: 504px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #00000026;
    border-radius: 10px;
    font-size: 14px;
    padding: 25px 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: relative;
  }

  .entrance {
    color: grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }

  .enter {
    border-bottom: 2px solid #c7c7c7;
    width: 103px;
    text-align: center;
    cursor: pointer;
  }

  .register {
    border-bottom: 2px solid #c7c7c7;
    width: 182px;
    text-align: center;
    cursor: pointer;
  }

  .formInfo {
    display: flex;
    flex-direction: column;
  }

  .formInfo span {
    color: grey;
    margin-bottom: 25px;
  }

  .loginInput {
    min-width: 305px;
    height: 43px;
    border-radius: 5px;
    margin-bottom: 35px;
    border-color: #c7c7c7;
  }

  .formButton {
    background-color: #5970ff;
    min-width: 305px;
    min-height: 59px;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .recover {
    color: #5970ff !important;
    margin-top: 40px;
    border-bottom: 1px solid #5970ff;
    width: 151px;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
  }

  .navButton {
    display: flex;
  }

  .navButton button {
    min-height: 31px;
    min-width: 96px;
    background-color: white;
    border-color: #5970ff82;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
  }

  .lock {
    position: absolute;
    bottom: 98%;
    right: 50%;
  }

  .key {
    display: none;
  }

  .key2 {
    display: block;
    margin-top: 50px;
  }
}
