@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (max-width: 800px) {
  .mobileMenuContainer {
    background-color: #029491;
    padding: 0 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .mobileMenuStart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileMenuNavigation {
    display: flex;
    justify-content: center;
  }

  .mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mobileMenuList a {
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
  }

  .mobileMenuButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }

  .mobileMenuButtons p {
    margin-bottom: 20px;
    color: white;
  }

  .entranceButton {
    margin-bottom: 80px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #7ce3e1;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  .exitButton {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #7ce3e1;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  .link {
    width: 100%;
  }
}
